language: elixir
elixir: 1.2.2
otp_release:
  - 18.0
sudo: false
before_script:
  - mix deps.get --only test
script:
  - mix test
  - cd installer && mix test
after_script:
  - cd $TRAVIS_BUILD_DIR
  - mix deps.get --only docs
